.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  z-index: 3;

  &.left {
    left: 5px;
  }
  &.right {
    left: auto;
    right: 5px;
  }

  &.disabled {
    fill: rgba(255, 255, 255, 0.5);
  }
}
