[flake8]
max-line-length = 88
extend-ignore = E203, E501 # https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
    # E501: Don't enforce max. line length, see https://www.flake8rules.com/rules/E501.html