.delimiter_holder {
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;

	.line {
		width: 40px;
		height: 2px;
		background-color: black;
		margin: 0 3px;

		&.primary_color {
			width: 15px;
			background-color: black;
			flex-shrink: 0;
		}
	}
}