# dependencies
storefront/node_modules
storefront/.pnp
storefront/.pnp.js

# testing
storefront/coverage

# production
storefront/build

# misc
storefront/.DS_Store
storefront/.env.local
storefront/.env.development.local
storefront/.env.test.local
storefront/.env.production.local

storefront/npm-debug.log*
storefront/yarn-debug.log*
storefront/yarn-error.log*

# IDEs
storefront/.idea
storefront/.vscode
