.rmm__nav-item {
  list-style: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;

  @include respond-to("large") {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-right: 1rem;
  }
}

.rmm__nav-item--heading {
  font-weight: 700;
  @include respond-to("large") {
    display: none;
  }
}

.rmm__nav-item--forward {
  @include respond-to("large") {
    margin-right: 1rem;
  }
}
