.rmm__nav-item-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 1rem;
  @include respond-below("large") {
    padding-bottom: 3rem;
    height: 3rem;
    border-bottom: 0.1rem solid #eaeaea;
  }
}

.rmm__nav-item-link--show-all {
  @include respond-below("large") {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    height: 1rem;
    border-bottom: 0.1rem solid #eaeaea;
    font-weight: 400;
    font-size: 0.75rem;
  }
}

.rmm__nav-item-link--heading {
  @include respond-to("large") {
    height: 1rem;
  }
}

.rmm__nav-item-link--forward {
  @include respond-to("large") {
    margin-right: 1rem;
  }
}

.rmm__nav-item-link--back {
  @include respond-below("large") {
    padding-bottom: 3rem;
    height: 3rem;
    border-bottom: 0.1rem solid #eaeaea;
  }
}

.rmm__nav-item-link--active {
  &::after {
    @include respond-to("large") {
      transform: rotate(180deg);
      top: 0;
    }
  }
}
