.phantomStyle {
  display: "block";
  padding: "20px";
  height: "60px";
  width: "100%";
}

.footerStyle {
  background-color: "purple";
  font-size: "20px";
  color: "white";
  border-top: "1px solid #E7E7E7";
  text-align: "center";
  padding: "20px";
  position: "fixed";
  left: "0";
  bottom: "0";
  height: "60px";
  width: "100%";
}
